<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/headerAdmin') %>

    <%- include('partials/navbarCategories') %>

      <main>
        <link rel="stylesheet" href="/stylesheets/adminProduct.css" />

        <h3 class="edit_title">Painel de Pedidos</h3>

       



        <div class="product_list">
          <ul>
            <% for (Purchase of ordersList) { %>
              <li>
                <p>Numero do Pedido:  <%= Purchase.idPedidos %></p>
                <p>Data do Pedido: <%= Purchase.Data_pedido %></p>
                <p>Total do Pedido: <%= Purchase.Total %></p> <br>
                <p>Forma de Pagamento: <%= Purchase.Forma_de_Pagamento %></p>
                <p>Endereço de entrega <%= Purchase.Endereço_de_Entrega %></p>
                <p>Nomedo do Usuario: <%= Purchase['users.Nome'] %></p>
              </li>
              <% } %>
          </ul>
        </div>
      </main>
      <%- include('partials/footer') %>