<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/headerAdmin') %>
<main>
  <link rel="stylesheet" href="/stylesheets/adminProduct.css" />

  <h3 class="edit_title">Painel de Administrador >> PRODUTOS</h3>

  <!-- Search bar -->
  <div class="searchAdminForm">
    <form action="/admin/adminSearchProduct" method="get" class="search-bar">
      <input
        class="search-bar"
        type="text"
        name="search"
        placeholder="Buscar produto..."
      />
      <button class="btn_sb" type="submit">
        <img class="btn_search" src="/img/icons8-pesquisar.svg" />
      </button>
    </form>
  </div>

  <!-- Lista de Produtos Ativos -->

  <h3>PRODUTOS ATIVOS</h3>

  <div class="product_list">
    <ul>
      <% for (p of products) { %> <% if(p.Status==1) { %>
      <li>
        <p><%= p.Nome %></p>
        <div class="btn-container">
          <a
            href="/admin/adminEditProduct/<%= p.idProdutos %>"
            class="btn-admin-products"
            >Editar</a
          >
          <form
            action="/admin/adminDeleteProduct/<%= p.idProdutos %>"
            method="POST"
          >
            <button type="submit" class="btn-admin-products">Excluir</button>
          </form>
        </div>
      </li>
      <% } %> <% } %>
    </ul>
  </div>

  <!-- Lista de Produtos Inativos -->

  <h3>PRODUTOS INATIVOS</h3>

  <div class="product_list">
    <ul>
      <% for (p of products) { %> <% if(p.Status==0) { %>
      <li>
        <p><%= p.Nome %></p>
        <div class="btn-container">
          <a
            href="/admin/adminEditProduct/<%= p.idProdutos %>"
            class="btn-admin-products"
            >Editar</a
          >
        </div>
      </li>
      <% } %> <% } %>
    </ul>
  </div>
</main>
<%- include('partials/footer') %>
