<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/header', {title: 'Início' }) %>
    <!-- Include Banner -->
    <%- include('partials/navbarCategories') %>

    <%- include('partials/slide') %>



      <main>
        <link rel="stylesheet" href="/stylesheets/cart.css">

        <div class=" ls-cart">
          <header class=" cart-title">
            <span class=""></span>
            <small>MEU CARRINHO</small>
            <input type="checkbox" class="ls-checkbox-cart" />
            <strong>
              <%= qty %> Produtos
            </strong>
          </header>

          <div class="ls-cart-content">
            <% if(productsIntoCart.length> 0){ %>
              <ul class="ls-no-style-list">
                <% for(p of productsIntoCart) {%>
                  <li>
                    <a href="/products/detail/<%=p.idProdutos %>">
                      
                      <img src="<%= p['images.Imagem'] %>" alt="" />
                      <p><%= p.Nome %></p>
                    </a>
                   <% if(p.PrecoComDesconto >0) { %>
                    <p class="price">R$ <%= p.Preco %></p>
                    <p class="discount-price">R$ <%= p.PrecoComDesconto %></p>
                    <% } else { %>
                      <p class="discount-price">R$ <%= p.Preco %></p>
                    <% } %>


                    <div class="cart-btn-label">

                      <form action="/orders/updateCart?_method=PUT" method="POST">
                        <label for="quantity">Quantidade:</label>
                        <input type="hidden" id="id" name="productId" value="<%=p.idProdutos %>">
                        <input type="number" id="quantidade" name="productQty" value="<%= p.quantidade %>" min="1"
                          max="99">
                        <input type="submit" value="Adicionar">
                        
                      </form>
                      <form action="/orders/removeProduct/<%=p.idProdutos %>?_method=DELETE" method="POST">
                      <input type="submit" value="Remover">
                    </form>
                        
                      </div>
                  </li>
                  <% } %>
              </ul>
          </div>

          <div class="ls-about-your-order">
            <h5>resumo do pedido</h5>

            <img src="" alt="" />
            <p>Você economizará: R$ <%= savings %> na sua compra</p>


            <p>Calcule frete e prazo</p>
            <input class="btn-zip-code" type="text" placeholder="digite o CEP" />
            <input class="btn-zip-code-submit" type="hidden" />

            <div class="delivery-shipp-cost">
              <label for="gratis">receba gratis até 31 de janeiro</label>
              <input type="radio" name="ship-type" id="gratis" checked>
              <br>
              <label for="loja">retire na loja</label>
              <input type="radio" name="ship-type" id="loja">
              <br>
              <label for="express">Entrega express R$50,00</label>
              <input type="radio" name="ship-type" id="express">
            </div>




            <a class="continue-buying" href="/products">Continuar comprando...</a>

            <p>Total a pagar: R$ <%= total %></p>
            <div class="wrap-btn-order">
              <a href="/orders/payment"><button class="btn-order" type="submit">Continuar para Pagamento</button></a>
            </div>

          </div>
          <% } else { %>
          <div class="empty-cart">
           <h1>Seu carrinho está vazio</h1> 
          </div>
          <% } %>
        </div>
        </div>
      </main>
      <%- include('partials/footer') %>