<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/header', {title: 'Início' }) %>
    <!-- Include Banner -->
    <%- include('partials/slide') %>



      <main>
        <link rel="stylesheet" href="../stylesheets/cart.css">
        <div class="ls-cart">
          <header class="ls-cart-header">
            <div class="mycart">
              <small>MEU CARRINHO</small>
              <input type="checkbox" class="ls-checkbox-cart" />
              <strong>
                <%= qty %> Produtos
              </strong>
            </div>
          </header>
          <div class="ls-cart-content">
            <% if(productsIntoCart.length> 0){ %>
              <ul class="ls-no-style-list">
                <% for(p of productsIntoCart) {%>
                  <li>
                    <a href="#">
                      <h4 class="ls-title-product"><strong>01</strong></h4>
                      <img src="<%= p['images.Imagem'] %>" alt="" />
                      <p>
                        <%= p.Nome %>
                      </p>
                    </a>
                    <p>R$ <%= p.Preco %>
                    </p>

                    <div class="cart-btn-label">

                      <form action="/orders/updateCart?_method=PUT" method="POST">
                        <label for="quantity">Quantidade:</label>
                        <input type="hidden" id="id" name="productId" value="<%=p.idProdutos %>">
                        <input type="number" id="quantidade" name="productQty" value="<%= p.quantidade %>" min="1"
                          max="99">
                        <input type="submit" value="Adicionar">
                      </form>

                    </div>
                  </li>
                  <% } %>
              </ul>
          </div>

          <div class="ls-about-your-order">
            <h5>resumo do pedido</h5>
            
            <img src="" alt="" />
            <p>Subtotal: R$ <%= total %></p>

            
              <p>Calcule frete e prazo</p>
              <input class="btn-zip-code" type="text" placeholder="digite o CEP" />
              <input class="btn-zip-code-submit" type="hidden" />

              <div class="btn-delivery-shipp-cost">
                <label for="gratis">receba gratis até 31 de janeiro</label>
                <input type="radio" name="ship-type" id="gratis" checked>
                  
                <label for="loja">retire na loja</label>
                <input type="radio" name="ship-type" id="loja">
                  
                <label for="express">Entrega express R$50,00</label>
                <input type="radio" name="ship-type" id="express">
              </div>

            


            <a href="/products">Continuar comprando...</a>

            <p>Total a pagar: R$ <%= total %></p>

              <a href="/orders/payment"><button class="ls-btn-primary" type="submit">Continuar para pagamento</button></a>
           

            


          </div>

          <!--<div class="delivery-tax">
                <p>R$(frete): </p>
              </div>
          <div class="amount-order">
          </div>

          <section class="ls-cart-footer ls-txt-center">
            <form action="/orders/release" method="POST">
              <input type="hidden" name="confirmedPurchase" value="">
              <button class="ls-btn-primary" type="submit">Finalizar Compra</button>
            </form>
          </section>-->


          <% } else { %>
            No productsIntoCar
            <% } %>
        </div>
        </div>
      </main>
      <%- include('partials/footer') %>