<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/header', {title: 'Início' }) %>
    <!-- Include Banner -->

    
    <% if(!loggedUser) { %>
      <a id="linkEntrar" href="/users/">Faça login ou cadastre-se</a>
      <% } else { %>
        
        <main class="main-payment">
          <link rel="stylesheet" href="/stylesheets/cartPayment.css">
          
          <h2 class="payment_title">Pagamento</h2>

            <!-- <div class="ls-cart-content">
              <% if(productsIntoCart.length> 0){ %>
                <table>
                  <% for(p of productsIntoCart) {%>
                    <tr>
                      <td><img src="<%= p['images.Imagem'] %>" alt=""></td>
                      <td>
                        <%= p.Nome %>
                      </td>

                      <td>R$ <%= p.Preco %>
                      </td>

                      <td class="cart-btn-label">

                        <form action="/orders/updateCart?_method=PUT" method="POST">
                          <label for="quantity">Quantidade:</label>
                          <input type="hidden" id="id" name="productId" value="<%=p.idProdutos %>">
                          <input type="number" id="quantidade" name="productQty" value="<%= p.quantidade %>" min="1"
                            max="99">
                          <input type="submit" value="Adicionar">
                        </form>

                      </td>
                    </tr>
                    <% } %>
                </table>
            </div> -->

            <div class="payment-content">
              <h5>resumo do pedido</h5>

              <img class="product-in -order" src="" alt="" />
              <p>Subtotal: R$ <%= total%>
              </p>
              <p>Frete: Grátis! </p>

              <form action="/orders/release" method="POST" class="payment-form">
                <label>Forma de Pagamento: <br>

                  <select name="payment-option" id="payment-option">
                    <option selected disabled>Selecione a forma de pagamento</option>
                    <option value="Pix">PIX</option>
                    <option value="cartao">Cartão de Crédito</option>
                    <option value="boleto">Boleto Bancario</option>
                  </select>

                </label>
                <br>

                <label for="address_id">Selecione o endereço de entrega</label>
                <select name="address_id" id="">

                  <% for( a of addressesUser ) {%>
                    <option value="<%= a.Endereco%>">
                      <%= a.Endereco %>
                    </option>
                    <% } %>
                </select> <br>


                <p>Total a pagar: R$ <%= total%>
                </p>

                <label for="endereco">Cadastrar novo endereço</label>
                <input type="text" id="endereco" name="endereco" placeholder="Digite novo endereço">
                <input type="text" id="cidade" name="cidade" placeholder="Cidade">
                <input type="text" id="estado" name="estado" placeholder="Estado">
                <div class="btn-wrap">  
                  <button class="btn-order-conclusion" type="submit">Finalizar Compra</button>
                </div>

              </form>


            </div>


            <% } else { %>
              Nenhum produto no carrinho
              <% } %>

                </div>
          </main>

          <% } %>
            <%- include('partials/footer') %>