<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/header', {title: 'Início' }) %>
    <!-- Include Banner -->
    <%- include('partials/slide') %>



      <main>
        <link rel="stylesheet" href="../stylesheets/cart.css">
        <div class="ls-cart">
          <header class="ls-cart-header">
            <div class="mycart">
              <small>MEU CARRINHO</small>
              <input type="checkbox" class="ls-checkbox-cart" />
              <strong>
                <%= qty %> Produtos
              </strong>
            </div>
          </header>
          <div class="ls-cart-content">
            <% if(productsIntoCart.length> 0){ %>
              <ul class="ls-no-style-list">
                <% for(p of productsIntoCart) {%>
                  <li>
                    <a href="#">
                      <h4 class="ls-title-product"><strong>01</strong>
                        <%= p.categories %>
                      </h4>
                      <img src="<%= p['images.Imagem'] %>" alt="" />
                      <p>
                        <%= p.Nome %>
                      </p>
                    </a>
                    <p>
                      R$ <%= p.Preco %>
                    </p>

                    <div class="cart-btn-label">

                      <form action="/orders/updateCart?_method=PUT" method="POST">
                        <label for="quantity">Quantidade:</label>
                        <input type="hidden" id="id" name="productId" value="<%=p.idProdutos %>">
                        <input type="number" id="quantidade" name="productQty" value="<%= p.quantidade %>" min="1"
                          max="99">
                        <input type="submit" value="Adicionar">
                      </form>

                    </div>
                  </li>
                  <% } %>
              </ul>
          </div>
          <div class="btn-delivey-shipp">
            <input class="btn-zip-code" type="text" placeholder="digite o CEP" />
            <input class="btn-zip-code-submit" type="submit" />
          </div>

          <div class="ls-about-your-order">
            <h5>resumo do pedido</h5>
              <img src="" alt="" />
              <p>Subtotal: R$ <%= total%></p>
              <p>Frete: Grátis! </p>
              <form class="order-form" action="/orders/release" method="POST">
                <label>Forma de Pagamento: <br>
                  <select name="payment-option" id="payment-option">
                    <option selected disabled>Selecione a forma de pagamento</option>
                    <option value="Pix">PIX</option>
                    <option value="cartao">Cartão de Crédito</option>
                    <option value="boleto">Boleto Bancario</option>
                  </select><br>
                  <a href="/user/paymentOption/add">Adicionar forma de pagamento</a>
                </label><br>

                <label for="address_id">Selecione o endereço de entrega</label> <br>
                <select name="address_id" id="">
                  <% for (let i=0; i < addresses.length; i++) { %>
                    <option value="<%= addresses[i].idAddresses%>">
                      <%= addresses[i].Endereco %>
                      </option>
                      <% } %>
                </select> <br>

                <a href="/products">Continuar comprando...</a>

                <p>Total a pagar: R$ <%= total%></p>
                
                  <button class="ls-btn-primary" type="submit">Finalizar Compra</button>
                
              </form>
              
              
            
            </div>

          <!--<div class="delivery-tax">
                <p>R$(frete): </p>
              </div>
          <div class="amount-order">
          </div>

          <section class="ls-cart-footer ls-txt-center">
            <form action="/orders/release" method="POST">
              <input type="hidden" name="confirmedPurchase" value="">
              <button class="ls-btn-primary" type="submit">Finalizar Compra</button>
            </form>
          </section>-->


            <% } else { %>
              No productsIntoCar
              <% } %>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>