<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
  <!-- Include Banner -->
  <%- include('partials/banner') %>
<main>
    <h1>
        <%= message %>
    </h1>
    <h2>
        <%= error.mucholoco %>
    </h2>
    <pre><%= error.stack %></pre>
</main>
    
    <%- include('partials/footer') %>


