<!-- Include Head -->
<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/header', {title: 'Início' }) %>
    <!-- Include navbarCategories -->
    <%- include('partials/navbarCategories') %>
      <!-- Include Slide-->
      <%- include('partials/slide') %>
        <main class="index-main">
          <div class="products-list">
            <h2 class="index-title">OFERTAS DA SEMANA</h2>
            <div class="products-content">
              <% for(let product of products){ %>
                <article class="products-itens">
                  <img class="products-image" src="<%= product['images.Imagem'] %>" alt="<%= product.Nome%>" />
                  <div class="products-description">
                    <%= product.Nome %>
                  </div>
                  <div class="products-old-price">R$ <%= product.Preco %>
                  </div>
                  <div class="products-price">R$ <%= product.PrecoComDesconto %>
                  </div>
                    <a href="/products/detail/<%= product.idProdutos %>" class="link-button">Ver mais</a>
                  </Button>
                </article> 
              <% } %>
            </div>
          </div>
          </div>
        </main>
        <!-- Include Footer -->  
        <%- include('partials/footer') %> 