<!-- Include Head -->
<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/header', {title: 'Início' }) %>
    <!-- Include navbarCategories -->
    <%- include('partials/navbarCategories') %>
      <!-- Include Slide-->
      <%- include('partials/slide') %>
        <main class="index-main">
          <div class="products-container">
            <h2 class="index-title">OFERTAS DA SEMANA</h2>
            <div class="products-wrapper">
              <% for(let product of products){ %>
                <div class="products-box">  
                  <section>
                    <a href="/products/detail/<%= product.idProdutos %>">
                      <img src="<%= product['images.Imagem'] %>" alt="<%= product.Nome%>" />
                      <h2>
                        <%= product.Nome %>
                      </h2>
                      <div id="products-old-price">R$ <%= product.Preco %></div>
                      <div id="products-price">
                        R$ <%= product.PrecoComDesconto %>
                      </div>                                     
                      <button><a href="/products/detail/<%= product.idProdutos %>" class="btn_order">Ver mais</a>
                      </Button>
                    </a> 
                </section>
                </div> 
              <% } %>
            </div>
          </div>          
        </main>
        <!-- Include Footer -->  
        <%- include('partials/footer') %> 