<%- include('partials/head') %>
    <!-- Include Header -->
    <%- include('partials/header') %>

        <%- include('partials/navbarCategories') %>


            <main class="error-container">
                <link rel="stylesheet" href="/stylesheets/orderFinished.css">

                <h2 class="error_title">Seu pedido foi confirmado!</h2>
                <h3>Pedido nยบ: <%=newPurchase.idPedidos%>
                </h3>
                <h3>Data do pedido: <%=newPurchase.Data_pedido.toLocaleDateString("pt-BR")%>
                </h3>
                <a href="/">
                    <button class="btn_close">Fechar</button>
                </a>
            </main>

            <%- include('partials/footer') %>