<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
<!-- Include Banner -->
<%- include('partials/banner') %>
<main>
    <link rel="stylesheet" href="/stylesheets/products.css" />
  <!-- todos los productos -->
      <div class="products-wrapper">
        <% for (p of products) { %>
        <div class="product-box">
            <a href="/products/detail/<%= p.idPrdutos %>">
              <figure class="product-box-image">
                <img
                  src="img/tablet.jpg<%= p.image %>"
                  alt="imagem do produto"
                />
              </figure>
              <article class="product-box-data">
                <h3>R$ <%= p.Preco %></h3>
                <p><%= p.Nome %></p>
              </article>
            </a>
        </div>
        <% } %>
  </div>
  
  <!-- /todos os produtos -->
</main>
<%- include('partials/footer') %>