<%- include('partials/head') %>
    <!-- Include Header -->
    <%- include('partials/header', {title: 'Início' }) %>
        <!-- Include Banner -->
        <%- include('partials/slide') %>
            <main>
                <link rel="stylesheet" href="/stylesheets/productDetail.css">
                <section class="detail">
                    <div class="product-details">
                        <div class="main-picture">
                            <img class="main-pic" src="<%=product['images.Imagem']%>" alt="" />
                        </div>
                        <div class="small-pictures">
                            <img class="small-pics" src="<%=product['images.Imagem']%>" alt="" />
                            <img class="small-pics" src="<%=product['images.Imagem']%>" alt="" />
                            <img class="small-pics" src="<%=product['images.Imagem']%>" alt="" />
                        </div>
                    </div>
                    <div class="description-for-order">
                        <h4>Nome: <%= product.Nome %>
                        </h4>
                        <p>valor: R$ <%= product.Preco %>
                        </p>
                        <form action="/orders/addCart" method="POST">
                            <input type="hidden" name="selectedProduct" value="<%=product.idProdutos %>">
                            <button class="order" type="submit">comprar</button>
                        </form>
                    </div>
                    </div>
                    <div class="product-description">
                        <h4>Descrição do Produto</h4>
                        <ul>
                            <li>Marca: <%=product['brands.Marca']%>
                            </li>
                            <li>Informações: <%=product.Informacao%>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>