<%- include('partials/head') %>
    <!-- Include Header -->
    <%- include('partials/header', {title: 'Início' }) %>
        <!-- Include Banner -->
            <%- include('partials/slide') %>
                <main>
                    <link rel="stylesheet" href="/stylesheets/products.css" />
                    <!-- todos los productos -->
                    <div class="products-container">
                        <h2 class="index-title">Produtos</h2>
                        <div class="products-wrapper">
                            <% for (p of products) { %>
                               <div class="product-box">
                                    <section>
                                        <a href="/products/detail/<%= p.idProdutos %>">

                                        <img class="product-box-image" src="<%= p['images.Imagem']%>"
                                            alt="imagem do produto" />

                                        <article class="product-box_data">
                                            <h2>
                                                <%= p.Nome %>
                                            </h2>
                                            <p>R$ <%= p.Preco %>
                                            </p>
                                        </article>
                                    </a>
                                    <form class="detail-products-button" action="/orders/addCart" method="POST">
                                        <input type="hidden" name="selectedProduct" value=<%=p.idProdutos %>">
                                        <button class="order" type="submit">ADICIONAR</button>
                                    </form>
                                </section>
                            </div>
                            <% } %>
                    </div>
                </div>
            </main>
            <%- include('partials/footer') %>