<%- include('partials/head') %>
    <!-- Include Header -->
    <%- include('partials/header', {title: 'Início' }) %>
        <!-- Include Banner -->
        <%- include('partials/banner') %>
            <main>
                <link rel="stylesheet" href="/stylesheets/products.css" />
                <!-- todos los productos -->
                <div class="products-container">
                    <div>
                        <div class="products-wrapper">
                            <% for (p of products) { %>
                                <div>
                                    <section class="product-box">
                                        <a href="/products/detail/<%= p.idProdutos %>">
                                            <figure class="product-box">
                                                <img src="<%= p['images.Imagem']%>" alt="imagem do produto" />
                                            </figure>
                                            <article class="product-box_data">
                                                <h2>R$ <%= p.Preco %>
                                                </h2>
                                                <p>
                                                    <%= p.Nome %>
                                                </p>
                                            </article>
                                        </a>
                                    </section>
                                </div>
                                <% } %>
                        </div>
                    </div>
                    <% for(p of products) { %>
                        <div class="description-for-order">
                            <h4>nome, capacidade e tamnaho do produto</h4>
                            <p>memória: </p>
                            <p>cor: </p>
                            <p>valor: R$</p>
                            <form action="/orders/addCart" method="POST">
                                <input type="hidden" name="selectedProduct" value=<%=p.idProdutos %>">
                                <button class="order" type="submit">Adicionar</button>
                            </form>
                        </div>
                        <% } %>
                </div>
                <div class="product-description">
                    <h4>Descrição do Produto</h4>
                    <ul>
                        <li>Marca:</li>
                        <li>Modelo:</li>
                        <li>Memória:</li>
                        <li>Tamanho: tela</li>
                        <li>Câmera:</li>
                        <li>Duração da bateria:</li>
                    </ul>
                </div>
                </section>
            </main>
            <%- include('partials/footer') %>