<%- include('partials/head') %>

<%- include('partials/header', {title: 'Inicio'}) %>

<main>
    <link rel="stylesheet" href="/stylesheets/updateUser.css"> 
    <br>
    <h2 class="edit-title">Editar Conta</h2>
    <br>
    <div class="account-container">
        <div class="user-info-container">
            <h3>Ol치, <%= userLogged.Nome %></h3> <br><br>

            <form 
            class="user-info-form" 
            method="post" 
            action="/users/updateUserAvatar/<%= userLogged.idUser %>" 
            enctype="multipart/form-data"
            >
                  <img class="user-avatar-img" src="<%= userLogged.Avatar %> ">
                <label for="avatar">Update Avatar</label>
                <input class="input-label"  type="file" name="newAvatar" id="newAvatar">
                <button class="btn-update-avatar" type="submit">Salvar</button>
              </form>

            <form 
            class="user-info-form"
            method="post" 
            action="/users/updateUserData/ <%= userLogged.idUser%>"
            >
            <div>
                <div class="user-form-class">
                    <label class="form-label" for="nome">Nome do Usu치rio</label>
                    <input
                    class="input-label"
                    type="text"
                    id="nome"
                    name="name"
                    value="<%= userLogged.Nome %>"
                    />
                </div>
                <div class="user-form-class">
                        <label class="form-label" for="nome">Sobrenome do Usu치rio</label>
                        <input
                        class="input-label"
                        type="text"
                        id="lastNamee"
                        name="lastName"
                        value="<%= userLogged.Sobrenome %>"
                        />
                </div>
                <div class="user-form-class">
                            <label class="form-label" for="nome">Telefone do Usu치rio</label>
                            <input
                            class="input-label"
                            type="text"
                            id="telefone"
                            name="phone"
                            value="<%= userLogged.Telefone %>"
                            />
                </div>
            </div>
            <div>
                        <button class="btn-save" type="submit">Salvar</button>
             </div>
        </form>
    </div>
</main>
<%- include('partials/footer') %>