<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
<!-- Include Banner -->
<%- include('partials/banner') %>
<main>
  <link rel="stylesheet" href="/stylesheets/userLogin.css" />

  <div class="login">
    <% if(error) {%>
      <div class="error"> <%= error %> </div>
      <%}%>
    <div class="input-container">
      <form method="post" action="/users/login">
        <label for="input-email">Email</label>
        <input
          class="email"
          type="text"
          name="email"
          id="input-email"
          value=""
          placeholder="digite seu email"
        />
        <label for="input-password">Senha</label>
        <input
          class="password"
          type="password"
          name="password"
          id="input-password"
          placeholder="digite sua senha"
        />
        <input type="checkbox" name="remember-user" />
        <label for="remeber-user"><b>Lembrar meu usuário</b></label>
        <button class="btn-login" type="submit" href="/index">Login</button>
        <a href="/users/recoverPassword" class="remember-password"
          >esqueceu sua senha?</a
        >
      </form>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
