<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
<!-- Include Banner -->
<%- include('partials/navbarCategories') %>

<main>
  <link rel="stylesheet" href="/stylesheets/userLogin.css" />
<br>
<h2 class="index_title">Entrar</h2>
<br>
  <div class="login">
    <% if(error) {%>
      <div class="error"> <%= error %> </div>
      <%}%>
    <div class="input_container">
      <form method="post" action="/users/login">
        <div class="form_wrapper">
        <label class="label" for="input_email">Email</label>
        <input
          class="email"
          type="text"
          name="email"
          id="input_email"
          value=""
          placeholder="digite seu email"
        />
        <label class="label" for="input_password">Senha</label>
        <input
          class="password"
          type="password"
          name="password"
          id="input_password"
          placeholder="digite sua senha"
        />
      </div>
      <input class="checkbox"  type="checkbox" name="remember_user" />
      <label class="label" for="remeber_user">Lembrar meu usuário</label>
      <div class="wrapper_btnlogin">
        <button class="btn_login" type="submit" href="/index">Login</button>
        <br>
        <a href="/users/forgotPassword" class="remember_password"
          >esqueceu sua senha?</a>
        </div>
      </form>
    </div>
  
  <div class="or-create">
    <br>
    <p>Ainda Não tem uma conta?</p> 
   <p>Faça seu cadastro.</p>
   <br>
   <div class="signup_container">
    <form action="/users">
      <button class="btn-registration" type="submit">Cadastrar</button>
    </form>
  </div>
  </div>
</div>
</main>
<%- include('partials/footer') %>
