<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>



<main class="user-container">

  <link rel="stylesheet" href="../stylesheets/userAccount.css" />
  <br>
<h2 class="index_title">Minha Conta</h2>
<br>
<div class="account-container">
  <div class="user-menu">
    <button class="btn-user-purchase-order" id="btn-user-purchaise">Meus pedidos</button>
    <button class="btn-user-data" id="btn-user-data">Meus dados</button>
  </div>
  <div class="order-container">
    <br>
    <h3>Meus Pedidos</h3>
    <br>
    <div class="order-list">
      <p>Pedido:</p>
      <br>
      <p>Status:</p>
    </div>
    <br>
    <h3>Minhas Compras</h3>
    <br>
    <div class="ordered-products-container">
      <div class="list-of-products">
        <div class="ordered-product">
          <img src="../public/img/celular.png" alt="" />
          <div class="order-info">
            <p>Produto:</p>
            <br>
            <p>Preço:</p>
            <br>
            <p>Quantidade:</p>
            <br> 
            <p>Subtotal:</p>
            <br>
          </div>
        </div>
      </div>
      <div class="total-of-products">
        <p>Valor do Frete:</p>
        <br>
        <p>Total do Pedido:</p>
        <br>
      </div>
    </div>
  </div>
  <div class="user-info-container">
    
    <h3>Olá, <%= userLogged.Nome %></h3>
    <form class="user-info-form" action="/account" method="post" enctype="multipart/form-data">
      <div class="user-avatar">
        <img class="img-avatar" src="<%= userLogged.Avatar %> ">
      </div>
  
    <div class="user-form">
        <div class="user-form-class">
          <label class="form-label" for="nome">Nome do usuário:</label>
          <input
            class="input-label"
            type="text"
            id="nome"
            name="name"
            placeholder=""
            value="<%= userLogged.Nome %>"
          />
        </div>
        <div class="user-form-class">
          <label class="form-label" for="nome">Sobreome do usuário:</label>
          <input
            class="input-label"
            type="text"
            id="sobrenome"
            name="lastName"
            placeholder=""
            value="<%= userLogged.Sobrenome %>"
          />
        </div>
        <div class="user-form-class">
          <label class="form-label" for="email">E-mail: </label>
          <input
            class="input-label"
            type="text"
            id="email"
            name="email"
            placeholder=""
            value="<%= userLogged.Email %>"
          />
        </div>
        <div class="user-form-class">
          <label class="form-label" for="cpf">Cpf: </label>
          <input
            class="input-label"
            type="text"
            id="cpf"
            name="personal_id"
            placeholder=""
            value="<%= userLogged.Cpf %>"
          />
        </div>
        </div>
        <div class="user-form-class">
          <label class="form-label" for="telefone">Telefone:</label>
          <input
            class="input-label"
            type="text"
            id="telefone"
            name="phone_number"
            placeholder=""
            value="<%= userLogged.Telefone %>"
          />
        </div>

        <form action="/accountUpdate/<%= userLogged.idUser %></form>
        <button class="btn-update" type="submit">     <a href=/users/accountUpdate/<%= userLogged.idUser %>>Editar</a>
        </button>
      </form>

      <form action="/delete/<%= userLogged.idUser %> " method="post"></form>
      <button class="btn-delete" type="submit">     <a href=/users/accountUpdate/<%= userLogged.idUser %>>Excluir</a>
      </button>
    </form>

    </div>
      </form>
  </div>
</div>
</main>

<!-- Include Footer -->
<%- include('partials/footer') %>