<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>



<main class="user-container">

  <link rel="stylesheet" href="../stylesheets/userAccount.css" />
  <br>
<h2 class="index_title">Minha Conta</h2>
<br>
<div class="account-container">
  <!-- <div class="user-menu">
    <button class="btn-user-purchase-order" id="btn-user-purchaise">Meus pedidos</button>
    <button class="btn-user-data" id="btn-user-data">Meus dados</button>
  </div> -->
  <div class="order-container">
    <br>
    <h3>Meus Pedidos</h3>
    <br>
    <ul class="order-list">
      <li>Pedido:</li>
      <br>
      <li>Status:</li>
    </ul>
    <br>
    <h3>Minhas Compras</h3>
    <br>
    <div class="ordered-products-container">
      <div class="list-of-products">
        <div class="ordered-product">
          <img src="/img/celular.png" alt="" />
          <ul class="order-info">
            <li>Produto:</li>
            <br>
            <li>Preço:</li>
            <br>
            <li>Quantidade:</li>
            <br> 
            <li>Subtotal:</li>
            <br>
          </ul>
        </div>
      </div>
      <ul class="total-of-products">
        <li>Valor do Frete:</li>
        <br>
        <li>Total do Pedido:</li>
        <br>
      </ul>
    </div>
  </div>
  <div class="user-info-container">
    <h3 class="greeting">Olá, <%= userLogged.Nome %></h3>

    <ul class="avatar">
      <li><img class="img-avatar" src="<%= userLogged.Avatar %> "></li>
      </ul>

      <ul class="user-info">
      <li>Nome do usuário: <%= userLogged.Nome %> </li> <br>
      <li>Sobrenome do usuário: <%= userLogged.Sobrenome %></li> <br>
      <li>E-mail: <%= userLogged.Email %></li> <br>
      <li>Cpf: <%= userLogged.Cpf %></li> <br>
      <li>Telefone: <%= userLogged.Telefone%></li> <br>
    </ul>
      <div class="wrapper-form-buttons">
        
        <form action="/users/accountUpdate/<%= userLogged.idUser %>">
        <button class="btn-update" type="submit">Editar</button>
      </form>

      <form method="post" action="/users/delete/<%= userLogged.idUser %>">
        <button class="btn-delete" type="submit">Excluir Conta</button>
      </form>
    </div>
    

  </div>
</main>

<!-- Include Footer -->
<%- include('partials/footer') %>