<%- include('partials/head') %>

  <!-- Include Header -->
  <%- include('partials/headerAdmin') %>

    <main>
      <link rel="stylesheet" href="/stylesheets/adminPanel.css" />

      <h3 class="edit_title">Painel de Administrador - Lista de Usu치rios</h3>

      <div class="edit-container">
        <h2>Lista de usu치rios</h2>
        <div>
            <ul>
                <% for (user of usersList) {%>
                <a href="">
                <li><%= user.Nome %>,  <%= user.Sobrenome %>,  <%= user.Email %>, <%= user.Cpf %>, <%= user.Telefone %>, <%= user.Avatar%>, <%= user.Senha%></li>
            </a>
            <% } %>
            </ul>
        </div>

        <form action="#">
          <button class="btn-admin-edit-product">Editar usu치rio</button>
        </form>

        <form action="#"">
          <button class="btn-admin-edit-user" type="submit">Excluir usu치rio</button>
        </form>
      </div>
    </main>
    <!-- Include Footer -->
    <%- include('partials/footer') %>